button{
    background-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
    border: none;
    font-size: 14px;
    border-radius: 25px;
    white-space: nowrap;
    color: var(--white);
    padding: .65rem 2rem;
    transition: opacity .3s;
    font-weight: 700;
}
button:hover{
    opacity: .7;
    color: var(--white);
}