<header class="container-fluid px-4 d-flex">
    <div class="logo-container">
        <a href="#"><img class="logo" src="assets/images/logo.svg" alt="easybank logo"></a>
    </div>
    <div (click)="isOpen()" class="hamburger-container">
        <img class="hamburger" [src]="hamburgerOrClose" alt="hamburger">
    </div>
    <nav [attr.data-open]="open" (click)="isOpen()">
        <a class="link" href="#">Home</a>
        <a class="link" href="#">About</a>
        <a class="link" href="#">Contact</a>
        <a class="link" href="#">Blog</a>
        <a class="link" href="#">Careers</a>
    </nav>
    <div class="button-wrapper">
        <button class="btn">Request Invite</button>
    </div>
</header>
<div *ngIf="open" (click)="isOpen()" class="dark-on-nav-open"></div>
