header{
    background-color: var(--white);
    position: relative;
    justify-content: space-between;
    z-index: 10;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform-style: preserve-3d; /*sets child element behind parent (nav) */
}
.button-wrapper{
    display: none;
}
.hamburger-container{
    cursor: pointer;
}
nav{
    position: absolute;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    top: -400%;
    left: 2rem;
    right: 2rem;
    transition: top 0.3s;
    text-align: center;
    z-index: 5;
    transform: translateZ(-10px); /*sets child element behind parent (header) */

}
nav[data-open="true"]{
    background-color: var(--white);
    border-radius: 5px;
    top: calc(100% + 2rem);
}
.link{
    color: var(--darkBlue);
    text-decoration: none;
    display: block;
    padding: .5rem 0;
}
.link:focus{
    background-color: rgba(0, 0, 0, .05);
}
.dark-on-nav-open{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
}
@media screen and (min-width:575px) {
    header{
        justify-content: space-evenly;
        padding-top: 0;
        padding-bottom: 0;
    }
    .logo-container{
        display: flex;
        align-items: center;
    }
    .hamburger-container{
        display: none;
    }
    .button-wrapper{
        margin: auto 0;
        display: block;
    }
    button{
        background-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
        border: none;
        font-size: 17px;
        border-radius: 25px;
        white-space: nowrap;
        color: var(--white);
        padding: .5rem 1rem;
        transition: opacity .3s;
    }
    button:hover{
        opacity: .7;
        color: var(--white);
    }
    button:active{
        color: var(--white)
    }
    .btn:first-child:active{
        color: var(--white)
    }
    nav{
        position: static;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        transform: none;
        width: auto;
    }
    .link{
        color: var(--grayBlue);
        background-color: var(--white);
        padding: 1rem 0;
        position: relative;
    }
    .link::after{ /*colorful bar on hover */
        content: "";
        width: 100%;
        height: 4px;
        background: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        opacity: 0;
        transition: opacity .3s;
    }
    .link:hover{
        color: var(--darkBlue);
    }
    .link:focus{
        background-color: var(--white);
    }
    .link:hover::after{
        background: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
        opacity: 1;
    }
    .dark-on-nav-open{
        display: none;
    }
}