<footer>
    <div class="logo-with-icons">
        <div class="logo-container">
            <a href="#"><logo-icon color="white"></logo-icon></a>
        </div>
        <div class="icons">
            <a href="https://facebook.com" target="_blank"><facebook-icon></facebook-icon></a>
            <a href="https://youtube.com" target="_blank"><youtube-icon></youtube-icon></a>
            <a href="https://twitter.com" target="_blank"><twitter-icon></twitter-icon></a>
            <a href="https://pinterest.com" target="_blank"><pinterest-icon></pinterest-icon></a>
            <a href="https://instagram.com" target="_blank"><instagram-icon></instagram-icon></a>
        </div>
    </div>
    <nav aria-label="secondary">
        <div class="first-col">
            <a class="link" routerLink="/about">About Us</a>
            <a class="link" routerLink="/contact">Contact</a>
            <a class="link" href="https://webentwickler-arnold.eu" target="_blank">Blog</a>
        </div>
        <div class="second-col">
            <a class="link" routerLink="/careers">Careers</a>
            <a class="link" routerLink="/support">Support</a>
            <a class="link" routerLink="/privacy">Privacy Policy</a>
        </div>
    </nav>
    <div class="button-with-rights">
        <app-button (click)="invite()">Request Invite</app-button>
        <p>© Easybank. All Rights Reserved</p>
    </div>
</footer>
