<section>
    <h2>Get in touch with us</h2>
    <div class="contact-options">
        <a href="mailto:scharnoui@gmail.com">
            <img src="assets/images/email_blue.svg">
            <span>scharnoui@gmail.com</span>
        </a>
        <a href="tel:01628710079">
            <img src="assets/images/phone_blue.svg">
            <span>+49 162 8710-079</span>
        </a>
        <a href="https://goo.gl/maps/DG9pAcG1Tm6A8DFS8" target="_blank">
            <img src="assets/images/pin_blue.svg">
            <span>Stauffenbergstraße 25, 99427 Weimar</span>
        </a>
    </div>
</section>