main{
    padding: 1.5rem;
    text-align: center;
}
.paragraph-container{
    position: relative;
    color: var(--grayBlue);
}
.quote-top{
    position: absolute;
    top: -10%;
    left: -3%;
    font-size: 50px;
    background-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
    background-clip: text;
    color: transparent;
    opacity: .75;
    z-index: -1;
}
.quote-bottom{
    position: absolute;
    bottom: -20%;
    right: -3%;
    font-size: 50px;
    background-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
    background-clip: text;
    color: transparent;
    opacity: .75;
    z-index: -1;
}
.paragraph-container > p{
    font-size: 18px;
}

.img-with-name{
    background-image: url("src/assets/images/logo_only.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 28%;
    margin: 1rem 0;
    position: relative;
    padding-top: 1.5rem;

}
.name{
    color: var(--darkBlue);
    padding: .5rem 0 0 0;
    margin: 0;
}
small{
    color: var(--darkBlue);
}
img{
    width: 200px;
    border-radius: 50%;
}

@media screen and (min-width:575px) {
    main{
        display: flex;
        align-items: center;
    }
    .paragraph-container{
        width: 50%;
        padding: 5%;
        padding-right: 0;
        text-align: start;
    }
    .quote-top{
        left: 0;
        font-size: 120px;
        opacity: .5;
    }
    .quote-bottom{
        bottom: -20%;
        right: 0;
        font-size: 120px;
        opacity: .5;
    }
    .img-with-name{
        width: 50%;
    }
}
