<div class="img-with-content">
    <img src="assets/images/internship.png" alt="interns">
    <div class="content">
        <h2 id="internship">Internship Program</h2>
        <p>
            Our internship program at Easybank provides an opportunity for students and recent graduates to gain practical experience and develop their skills in the banking industry.
        </p>
        <p>
            Interns will have the opportunity to work on real projects that impact our customers and the bank.
        </p>
        <p>
            Our program runs for a duration of 12 weeks, and interns will receive a competitive compensation package.
        </p>
        <a class="apply" routerLink="/contact" aria-label="To the contact page"><app-button>Apply Now</app-button></a>
    </div>
</div>
