:host{
    display: block;
    padding: 1.5rem;
    background-color: var(--veryLightGray);
}
h2{
    font-size: 30px;
    color: var(--darkBlue);
    text-align: center;
}

img{
    height: auto;
    width: 100%;
}

p{
    color:var(--grayBlue);
}
.content{
    text-align: center;
}
.apply{
    display: block;
    width: 100%;
    margin: 2rem 0;
}
@media screen and (min-width:575px){
    :host{
        padding: 5rem;
    }
    h2{
        text-align: start;
        padding-bottom: 2rem;
    }
    .img-with-content{
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-evenly;
        align-items: center;
        gap: 1rem;
    }
    .content{
        text-align: start;
        max-width: 500px;
    }
    img{
        max-width: 500px;
    }
    .apply{
        width: fit-content;
    }
}
