:host{
    display: block;
    margin: 1.5rem;
}
.post{
    background-color: var(--lightGrayBlue);
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}
h2{
    font-size: 22px;
    color: var(--darkBlue);
    margin: 0;
}
small{
    color: var(--limeGreen);
}
.content{
    font-size: 16px;
    margin-top: 1rem;
    color: var(--grayBlue);
    margin: 1rem auto;
}
a{
  font-size: 16px;
}


  @media screen and (min-width:575px) {
    :host{
        margin: 2rem 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .post{
      padding: 5rem;
      max-width: 800px;
    }
    h2{
        font-size: 32px;
    }
    .content{
      font-size: 18px;
      display: flex;
      justify-content: center;
    }
    .source{
      max-width: 80%;
      margin: 3rem auto 0 auto;
    }

}