<ng-container *ngIf="posts$ | async">
    <article *ngFor="let post of posts$ | async; index as i" class="post" id="post{{i+1}}">
        <h2>{{post.title}}</h2>
        <small>{{post.author}}</small>
        <blockquote style="white-space: pre-wrap;" class="content">
            {{post.text}}
        </blockquote>
        <div class="source">
            <span>Source: </span><cite><a href="{{post.url}}" target="_blank" aria-label="To the source of the article.">{{post.url}}</a></cite>
        </div>
    </article>
</ng-container>


