<div class="invite" (click)="hideInvite()">
    <div class="inner-container">
        <form (ngSubmit)="save()" [formGroup]="inviteForm" (click)="$event.stopPropagation()">
            <img (click)="hideInvite()" src="assets/images/icon-close.svg" alt="close"/>
            <div *ngIf="!isValid" class="email-container">
                <label for="email">Enter your e-mail address:</label>
                <input formControlName="email" type="email" id="email">
                <div class="invalid" style="margin:.5rem" *ngIf="email.invalid && email.touched">
                    Invalid e-mail
                </div>
            </div>
            <app-button *ngIf="!isValid">Request Invite</app-button>
        </form>
        <div *ngIf="isValid" class="correctSubmit">
            <p >Thank you for your interest. We will be in touch with you soon.</p>
            <app-button (click)="hideInvite()" style="float: right;">Close</app-button>
        </div>
    </div>
</div>